//- -----------------------------------------------------------------------------
//- This file contains all markup related to the generic base page of the site/application.
//- The intention is to construct a generic webpage with a navbar, hero, content, footer.
//- Vertical page flow.
//- -----------------------------------------------------------------------------

include ../abstracts/variables
include ../abstracts/mixins
include layout/head
include layout/navbar
include ../components/navigation

block localVariables

doctype html
html(lang='en')
  +head(globalHeadProps, localHeadProps)
  body
    block content
      header
        block header
          +navbar(navbarItems, activeNavbarItem)
          button.back-to-top-btn.btn-primary.btn-large
            i.fas.fa-arrow-circle-up
      main
        block main
      block footer
        include layout/footer
    block scripts
      if scriptPaths
        each scriptPath in scriptPaths
          script(src=scriptPath type='text/javascript')
