{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "function-comma-space-before": "never",
    "max-nesting-depth": [2, {
      "ignore": ["pseudo-classes"]
    }],
    "selector-no-qualifying-type": [true, {
      "ignore": ["attribute"]
    }],
    "order/properties-alphabetical-order": null,
    "order/order": [
      "custom-properties",
      "dollar-variables",
      {
	      type: "at-rule",
	      hasBlock: false
      },
      "declarations",
      "rules",
      {
	      type: "at-rule",
	      hasBlock: true
      }
    ],
    "order/properties-order": [
      {
        groupName: "breaks",
        properties: [
          "page-break-before",
          "page-break-after",
          "page-break-inside"
        ],
        order: "flexible"
      },
      {
        groupName: "counters",
        properties: [
          "counter-reset",
          "counter-increment"
        ],
        order: "flexible"
      },
      {
        groupName: "content",
        properties: [
          "contents",
          "quotes"
        ]
      },
      {
        groupName: "box-sizing",
        properties: ["box-sizing"]
      },
      {
        groupName: "position",
        properties: [
          "display",
          "position",
          "top",
          "right",
          "bottom",
          "left",
          "float",
          "clear"
        ]
      },
      {
        groupName: "flex",
        properties: [
          "flex",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "justify-content"
        ]
      },
      {
        groupName: "align-content",
        properties: [
          "align-content",
          "align-items",
          "align-self"
        ]
      },
      {
        groupName: "order",
        properties: ["order"]
      },
      {
        groupName: "columns",
        properties: [
          "columns",
          "column-gap",
          "column-fill",
          "column-rule",
          "column-rule-width",
          "column-rule-style",
          "column-rule-color",
          "column-span",
          "column-count",
          "column-width"
        ]
      },
      {
        groupName: "transform",
        properties: [
          "backface-visibility",
          "perspective",
          "perspective-origin:",
          "transform",
          "transform-origin",
          "transform-style"
        ]
      },
      {
        groupName: "transitions",
        properties: [
          "transition",
          "transition-delay",
          "transition-duration",
          "transition-property",
          "transition-timing-function"
        ]
      },
      {
        groupName: "visibility",
        properties: [
          "visibility",
          "opacity",
          "z-index"
        ]
      },
      {
        groupName: "font",
        properties: [
          "font",
          "font-family",
          "font-size",
          "font-size-adjust",
          "font-stretch",
          "font-weight",
          "font-smoothing",
          "osx-font-smoothing",
          "font-variant",
          "font-style"
        ]
      },
      {
        groupName: "text-spacing",
        properties: [
          "line-height",
          "word-spacing",
          "letter-spacing",
          "white-space",
          "word-break",
          "word-wrap",
          "color"
        ]
      },
      {
        groupName: "text-alignment & decoration",
        properties: [
          "direction",
          "tab-size",
          "text-align",
          "text-align-last",
          "text-justify",
          "text-indent",
          "text-transform",
          "text-decoration",
          "text-decoration-color",
          "text-decoration-line",
          "text-decoration-style",
          "text-rendering",
          "text-shadow",
          "text-overflow"
        ]
      },
      {
        groupName: "vertical-align",
        properties: ["vertical-align"]
      },
      {
        groupName: "tables",
        properties: [
          "table-layout",
          "border-collapse",
          "border-spacing",
          "empty-cells"
        ]
      },
      {
        groupName: "list-style",
        properties: [
          "list-style",
          "list-style-type",
          "list-style-position",
          "list-style-image",
          "caption-side"
        ]
      },
      {
        groupName: "overflow",
        properties: [
          "overflow",
          "overflow-x",
          "overflow-y",
          "resize"
        ]
      },
      {
        groupName: "height",
        properties: [
          "height",
          "min-height",
          "max-height"
        ]
      },
      {
        groupName: "width",
        properties: [
          "width",
          "min-width",
          "max-width"
        ]
      },
      {
        groupName: "cursor",
        properties: ["cursor"]
      },
      {
        groupName: "background",
        properties: [
          "background",
          "background-attachment",
          "background-clip",
          "background-color",
          "background-image",
          "background-origin",
          "background-position",
          "background-repeat",
          "background-size"
        ]
      },
      {
        groupName: "padding",
        properties: [
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left"
        ]
      },
      {
        groupName: "border",
        properties: [
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-width",
          "border-top-width",
          "border-right-width",
          "border-bottom-width",
          "border-left-width"
        ]
      },
      {
        groupName: "border-style",
        properties: [
          "border-style",
          "border-top-style",
          "border-right-style",
          "border-bottom-style",
          "border-left-style"
        ]
      },
      {
        groupName: "border-radius",
        properties: [
          "border-radius",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-bottom-left-radius",
          "border-bottom-right-radius"
        ]
      },
      {
        groupName: "border-color",
        properties: [
          "border-color",
          "border-top-color",
          "border-right-color",
          "border-bottom-color",
          "border-left-color"
        ]
      },
      {
        groupName: "border-image",
        properties: [
          "border-image",
          "border-image-source",
          "border-image-width",
          "border-image-outset",
          "border-image-repeat",
          "border-image-slice"
        ]
      },
      {
        groupName: "box-shadow",
        properties: ["box-shadow"]
      },
      {
        groupName: "outline",
        properties: [
          "outline",
          "outline-offset",
          "outline-width",
          "outline-style",
          "outline-color"
        ]
      },
      {
        groupName: "margin",
        properties: [
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left"
        ]
      },
      {
        groupName: "animation",
        properties: [
          "animation",
          "animation-name",
          "animation-duration",
          "animation-timing-function",
          "animation-delay",
          "animation-iteration-count",
          "animation-direction",
          "animation-fill-mode",
          "animation-play-state"
        ]
      }
    ]
  }
}