// -----------------------------------------------------------------------------
// This file contains all generic styles related to forms.
// -----------------------------------------------------------------------------

.form-item {
  i { margin-right: 1rem; }

  label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  input,
  textarea {
    @include text-color-bgc(color('pink', 'light'), $text-color);
    width: 100%;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-bottom: 1.3rem;
  }
}
