// -----------------------------------------------------------------------------
// This file contains all styles related to navigation menus/aids.
// -----------------------------------------------------------------------------

.social-media-nav ul {
  @include flex-space-between-children;
  list-style-type: none;
}

.social-media-nav li {
  font-size: 2rem;

  + li { margin-left: 1.3rem; }

  a {
    color: #fff;
    padding: 0.75rem 1rem;
  }

  .yelp { background: color('social', 'yelp'); }
  .instagram { background: color('social', 'instagram'); }
  .facebook { background: color('social', 'facebook'); }
  .pinterest { background: color('social', 'pinterest'); }
}
