// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html { scroll-behavior: smooth; }

body { color: $text-color; }

code { font-family: $code-font-stack; }

a {
  transition: color 0.2s ease-in;
  color: $primary-color;
  text-decoration: none;

  @include on-event {
    color: tint($primary-color, 35%);
  }
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 { font-size: 2.5rem; }

p { line-height: 1.45; }

main { padding: 3rem 0; }

img {
  display: block;
  border-radius: 20px;
}

@include respond-to('extra-large') {
  html { font-size: 22px; }
}
