// -----------------------------------------------------------------------------
// This file contains styles for the shapes used for this project.
// -----------------------------------------------------------------------------

// initialize shape-colors with primary & secondary colors + variants
$shape-colors: (
  'primary': $primary-color,
  'primary-light': $primary-color-light,
  'primary-dark': $primary-color-dark,
  'secondary': $secondary-color,
  'secondary-light': $secondary-color-light
) !default;

// remove social colors & instagram gradient
$shape-colors-no-social: $colors;
@if (map-has-key($shape-colors-no-social, 'social')) {
  $shape-colors-no-social: map-remove($shape-colors-no-social, 'social');
}

// add to shape-color map with color-codes based on existing colors map w/o social colors
@each $color-name, $color-stack in $shape-colors-no-social {
  @each $color-modifier, $color-code in $color-stack {
    $shape-colors: map-merge($shape-colors, ('#{$color-name}-#{$color-modifier}' : $color-code));
  }
}

.shape {
  // Shape background color selectors
  @each $key, $value in $shape-colors {
    &-#{$key} {
      background-color: $value;
    }
  }

  &-circle {
    border-radius: 50%;
  }

  &-diamond {
    position: relative;
    top: -50px;
    height: 0;
    width: 0;
    border: 50px solid transparent;
    border-bottom-color: #f00;

    &::after {
      content: '';
      position: absolute;
      top: 50px;
      left: -50px;
      height: 0;
      width: 0;
      border: 50px solid transparent;
      border-top-color: #f00;
    }
  }
}
