// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

.about body {
  background-color: color('blue', 'light');
}

.about main img {
  width: 85%;
  margin: 0 auto;

  @include respond-to('min-medium') {
    width: 60%;
  }
}

.about main p {
  margin-top: 1.3rem;

  &:first-of-type { margin-top: 3rem; }
}
