// -----------------------------------------------------------------------------
// This file contains styles that are specific to the catering page.
// -----------------------------------------------------------------------------

.catering-and-parties body {
  background-color: color('pink', 'light');
}

.catering-and-parties {

  h3 { font-size: 1.8rem; }
  
  main p { margin: 1.3rem 0; }

  main img {
    width: 85%;
    margin: 0 auto;
    
    @include respond-to('min-medium') {
      width: 60%;
    }
  }
  
}

main .venue-rental img {
  margin-bottom: 3rem;
}

main .catering img {
  margin-top: 3rem;
}

.catering-info {
  ul { list-style-position: inside; }

  li + li { margin-top: 0.3rem; }
}

@include respond-to('min-large') {
  .catering-and-parties main img {
    width: 100%;
    margin: 0;
  }

  .venue-rental,
  .catering {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .venue-info,
  .catering img {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .venue-rental img {
    @include animate(0, 230px);
  }

  .venue-info {
    @include animate(230px);
  }

  .catering img {
    @include animate(0, 230px);
  }

  .catering-info {
    @include animate(-230px);
  }

  .venue-rental { margin-bottom: 3rem; }
}
