// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// General Styles

.home body {
  background-color: $primary-color;

  h1,
  h2 { font-family: 'Courgette', cursive; }

  h1 { font-size: 2.8rem; }

  h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.home {
  main { padding: 0; }

  .navbar { z-index: 2; }

  section {
    position: relative;
    padding: 3rem 1rem;

    @include respond-to('min-medium') {
      padding: 3rem;
    }
  }

  .container { border-radius: 20px; }
}

// Customized Navbar Styles

.home .navbar,
.home .navbar-toggle {
  color: #fff;
  background-color: transparent;
}

@include respond-to('min-large') {
  .home .navbar-submenu {
    background-color: transparent;

    a {
      color: #fff;
      background-color: transparent;
    
      @include on-event {
        color: $primary-color;
        background-color: #fff;
      }
    }
  }
}

// Hero Section

.hero {
  @include text-color-bgc($primary-color, #000, #fff, 70);
  
  padding: 2rem 0 3rem;

  .hero-img {
    display: none;

    img {
      max-height: 400px;
    }
  }

  .hero-content {
    text-align: center;

    p {
      font-size: 1.5rem;
      margin: 2.7rem 0;
    }

    .opening-hours {
      font-size: 0.8rem;
    }
  }

  .cta {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 auto;

    .phone-number {
      font-size: 1rem;
      font-weight: 700;
      margin-top: 0.7rem;
    }
  }

  @include respond-to('min-medium') {
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: -41vw;
      left: -56vw;
      z-index: 0;
      height: 148vw;
      width: 100vw;
      // top: -38vw;
      // left: -56vw;
      // z-index: 0;
      // height: 100vw;
      // width: 100vw;
      background-color: $secondary-color;
      border-radius: 50%;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 0;
    }

    .hero-img {
      display: block;
      flex: 1;
    }

    .hero-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
    }
  }
  
  @include respond-to('min-large') {
    padding-bottom: 4rem;
    
    .hero-content .opening-hours {
      text-align: right;
      margin: 0;
    }
  }
}

// Photo Preview Section 

.photo-preview {
  background-color: color('pink', 'light');

  .container {
    position: relative;
    background-color: #fff;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    margin-top: 4rem;

    > p {
      text-align: center;
      margin: 4rem 0;
    }
  }
}

.preview-info p {
  font-size: 1.5rem;
  text-align: center;
}

.instagram-logo {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  width: 60px;
  max-width: 121px;
  margin: 0 auto;

  img { width: 100%; }
}

.preview-gallery,
.pie-gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.2rem;
  column-gap: 2.2rem;

  img { width: 100%; }
}

.preview-gallery .preview-item {
  position: relative;

  img:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 85%;
    margin: auto;
  }
}

@media (min-width: '500px') {
  .preview-gallery,
  .pie-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include respond-to('min-medium') {
  .preview-gallery,
  .pie-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Yelp Review Section 

.yelp-review-section {
  background-color: color('blue', 'light');

  > img { display: none; }

  .container { margin-top: 4rem; }
}

.yelp-review-group {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.9rem;
  column-gap: 2.5rem;
}

.yelp-review img { border-radius: 50%; }

.yelp-review-info {
  position: relative;
  margin-top: 1rem;
}

.yelp-link {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: color('social', 'yelp');
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  
  @include on-event {
    color: #fff;
  }
}

.yelp-review-text {
  p { margin-bottom: 1rem; }

  div {
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
}

@include respond-to('min-medium') {
  .yelp-review {
    background-color: hsla(0, 0, 100, 0.85);

    &-section {
      background: color('blue', 'light') no-repeat image('patterns/hearts-mirrored.svg') center;
      background-size: cover;
    }

    &-section .container { padding: 0; }
    
    &-group {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include respond-to('min-large') {
  .yelp-review {
    .card-content {
      flex-direction: row;

      img { align-self: flex-start; }
    }

    &-info {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}

// Featured Testimony General Styles

.home .featured-person-testimony {
  font-size: 1.3rem;
  padding: 6rem 0 2rem;
}

.featured-person-imgs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.featured-pattern,
.featured-person-img {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.featured-pattern { width: 100%; }

.featured-person-img {
  width: 40%;
  margin: auto;
}

.featured-person-testimony {
  blockquote {
    padding: 0 3rem;
    margin-top: 1rem;
  }
}

.featured-quote {
  position: relative;
  font-style: italic;

  &::before {
    content: '"';
    position: absolute;
    top: -2.6rem;
    left: -3.1rem;
    font-family: 'Courgette';
    font-size: 6rem;
    font-style: italic;
  }

  p + p {
    margin-top: 1rem;
  }
}

.featured-person-testimony footer {
  margin-top: 1.3rem;

  :not(.featured-person-name) {
    font-size: 1.1rem;
  }
}

.featured-person-name {
  font-weight: 700;
}

@include respond-to('min-medium') {
  .featured-person-testimony {
    overflow: hidden;

    .container {
      @include flex-space-between-children;

      padding: 2rem 0;
    }

    blockquote { flex: 3; }
  }

  .featured-person-imgs {
    flex: 2;
    align-self: flex-start;
  }
  
  .feature-imgs-right { order: 2; }

  .featured-pattern {
    width: 170%;
    margin-top: -20%;
    margin-left: -41%;
  }

  .featured-person-img { width: 70%; }
}

// Featured Testimony Custom Styles

$monika: (
  'name': 'monika',
  'color-fade-top': ('blue', 'light'),
  'background-color': ('green', 'light'),
  'text-color': ('green', 'dark'),
  'shape-color': ('green', 'seagreen')
);
$jessica: (
  'name': 'jessica',
  'color-fade-top': ('white', 'base'),
  'background-color': ('pink', 'base'),
  'text-color': ('purple', 'base'),
  'shape-color': ('pink', 'dark')
);
$lorena: (
  'name': 'lorena',
  'color-fade-top': ('white', 'base'),
  'background-color': ('yellow', 'extra-light'),
  'text-color': ('yellow', 'dark'),
  'shape-color': ('yellow', 'light')
);

@mixin custom-testimony-styles($testimony-data) {
  $name: map-get($testimony-data, 'name');
  $color-fade-top: map-get($testimony-data, 'color-fade-top');
  $background-color: map-get($testimony-data, 'background-color');
  $text-color: map-get($testimony-data, 'text-color');
  $shape-color: map-get($testimony-data, 'shape-color');

  .#{$name}-testimony {
    color: color(nth($text-color, 1), nth($text-color, 2));
    background: linear-gradient(to bottom, color(nth($color-fade-top, 1), nth($color-fade-top, 2)) 3%, color(nth($background-color, 1), nth($background-color, 2)) 17%);
  
    .featured-quote::before {
      color: color(nth($shape-color, 1), nth($shape-color, 2));
    }
  }
}

@include custom-testimony-styles($monika);
@include custom-testimony-styles($jessica);
@include custom-testimony-styles($lorena);

// Store Pictures Section

.home .store-pictures {
  padding: 9rem 0 4rem;
}

.store-pictures .container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;

  img {
    width: 60%;
    margin: auto;
  }

  @include respond-to('min-medium') {
    grid-template-columns: repeat(3, 1fr);
  
    img { width: 100%; }
  }

  @include respond-to('min-large') {
    padding: 0;
  }
}

.store-ambience {
  $monika-bgc: map-get($monika, 'background-color');
  background: linear-gradient(to bottom, color(nth($monika-bgc, 1), nth($monika-bgc, 2)) 3%, #fff 17%);
}

.customer-viewing-pictures {
  $jessica-bgc: map-get($jessica, 'background-color');
  background: linear-gradient(to bottom, color(nth($jessica-bgc, 1), nth($jessica-bgc, 2)) 3%, #fff 17%);
}
