//- -----------------------------------------------------------------------------
//- This file contains markup that is specific to the about page.
//- -----------------------------------------------------------------------------

extend base-pages/base-default

block localVariables
  -
    //- page-specific head configurations
    const localHeadProps = {
      title: 'About | QT Pie Bakery',
      description: 'In 1994, QT Pie Bakery opened on a quiet street corner in the heart of Pantown. From its inception, QT Pie Bakery has been cherished for its cute, bubbly-styled baked goods, decor and warm, inviting atmosphere.',
      keywords: 'baking, info, pantown, origins',
      //- paths of the stylesheets to use for this page
      stylesheetPaths: [
        'https://fonts.googleapis.com/css?family=Lato&display=swap',
        'css/styles.min.css',
      ],
    };
  -
    //- paths of javascript files to use for this page
    const scriptPaths = [
      'js/bundle.js',
    ];
    
  - const pageName = 'about';
  - const activeNavbarItem = 'about'

//- ---------------- MARKUP FOR PAGE ----------------

prepend stylesheets
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
