//- -----------------------------------------------------------------------------
//- This file contains markup that is specific to the about page.
//- -----------------------------------------------------------------------------

extend base-pages/base-default

block localVariables
  -
    //- page-specific head configurations
    const localHeadProps = {
      title: 'About | QT Pie Bakery',
      description: 'In 1994, QT Pie Bakery opened on a quiet street corner in the heart of Pantown. From its inception, QT Pie Bakery has been cherished for its cute, bubbly-styled baked goods, decor and warm, inviting atmosphere.',
      keywords: 'baking, info, pantown, origins',
      //- paths of the stylesheets to use for this page
      stylesheetPaths: [
        'https://fonts.googleapis.com/css?family=Lato&display=swap',
        'css/styles.min.css',
      ],
    };
  -
    //- paths of javascript files to use for this page
    const scriptPaths = [
      'js/bundle.js',
    ];
    
    //- class to put on body tag for custom styling
  - const pageName = 'about';
    //- used to indicate this page is selected on the navbar item
  - const activeNavbarItem = 'About'

//- ---------------- MARKUP FOR PAGE ----------------

prepend stylesheets
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')

block main
  .container
    h2 About Us
    .divider
    +image('cta/trays-of-baked-goods.jpg', 'Trays of baked goods')
    p In 1994, QT Pie Bakery opened on a quiet street corner in the heart of Pantown. From its inception, QT Pie Bakery has been cherished for its cute, bubbly-styled baked goods, decor and warm, inviting atmosphere.
    p We had a lot of grandiose ideas, but not a lot of money, and ultimately most of our furniture came from our own apartments (i.e. the tiny TV dinner table and big over sized green chair), to thrift shop finds, and friends have helped create that warm, cozy atmosphere that exists at QT Pie Bakery today.
    p We tried on several occasions to come up with clever names. In the end, it was a trip down to Pantown to look at a space on Sugar Rush Lane, which would end up being the home of QT Pie Bakery.
    p We are truly driven by the love of what we create every day, and it comes not just in the form of a cupcake, but in the knowledge that we truly make people happy every time they walk through the doors of QT Pie Bakery.
    p In the summer of 2003, QT Pie Bakery was put to paper. The following winter of 2004, QT Pie Bakery was born and opened its doors.
