//- -----------------------------------------------------------------------------
//- This file contains markup that is specific to the landing page.
//- -----------------------------------------------------------------------------

extend base-pages/base-full-page

include components/card

block localVariables
  -
    //- page-specific head configurations
    const localHeadProps = {
      title: 'Delux Toolkit by Deluxateer',
      description: 'Landing page of the delux toolkit.',
      keywords: 'webdev, pug, scss, sass, js, deluxateer',
      //- paths of the stylesheets to use for this page
      stylesheetPaths: [
        'https://fonts.googleapis.com/css?family=Nunito',
        'css/styles.min.css',
      ],
    };
  -
    //- paths of javascript files to use for this page
    const scriptPaths = [
      //- 'js/vendor.js',
      'js/bundle.js',
    ];
  -
    const pageName = 'home';
  -
    const cardContent = {
      iconClasses: 'fas fa-check-circle fa-5x',
      title: "You're good to go!",
      content: [
        'Your toolkit is working just fine now.',
        'Enjoy!',
      ],
    }

//- ---------------- MARKUP FOR PAGE ----------------

prepend stylesheets
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')

block content
  +card(cardContent)
