//- -----------------------------------------------------------------------------
//- This file contains markup that is specific to the landing page.
//- -----------------------------------------------------------------------------

extend base-pages/base-default

include components/button

block localVariables
  -
    //- page-specific head configurations
    const localHeadProps = {
      title: 'QT Pie Bakery',
      description: 'Bring your sweet tooth! Pie, cakes, anything baked and sweet. We have it all here.',
      keywords: 'cookies, cakes, pies, goods, pantown, local, cutie',
      //- paths of the stylesheets to use for this page
      stylesheetPaths: [
        'https://fonts.googleapis.com/css?family=Courgette|Lato:400,400i,700&display=swap',
        'css/styles.min.css',
      ],
    };
  -
    //- paths of javascript files to use for this page
    const scriptPaths = [
      'js/bundle.js',
    ];
    
    //- class to put on body tag for custom styling
  - const pageName = 'home';
    //- used to indicate this page is selected on the navbar item
  - const isHomePage = true;

//- ---------------- MARKUP FOR PAGE ----------------

prepend stylesheets
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')

block main
  //- ---------------- Hero Section ---------------- -//
  section.hero
    .container
      .hero-img
        +image('hero/macarons.jpg', 'Macarons', true, false)
      .hero-content
        .hero-info
          h1 Bring your sweet tooth
          p Pie, cakes, anything baked and sweet. We have it all here.
          a.cta.btn.btn-secondary.btn-large.btn-round(href='tel:1-111-111-1111') Call And Order
            .phone-number +1 (111) 111-1111
        p.opening-hours Opening Hours: <b>Mon-Fri:</b> 9am - 9pm / <b>Weekend:</b> 9am - 10pm
  //- ---------------- Photo Preview Section ---------------- -//
  section.photo-preview
    .preview-info
      h2 Our Beautiful Lovelies!
      p Just a taste of what we have in store, for you
    .container
      .instagram-logo
        a(href=socialMediaItems.instagram.url)
          +image('instagram-logo.png', 'Instagram Logo')
      .preview-gallery
        .preview-item
          //- .shape-circle.shape-green-lime
          //- .preview-pattern
          +image('patterns/circle-green-lime.svg')
          +image('insta-pics/cheesecake.jpg', 'Cheesecake', true)
        .preview-item
          //- .shape-diamond.shape-orange-dark
          //- .preview-pattern
          +image('patterns/diamond-orange-dark.svg')
          +image('insta-pics/brownie.jpg', 'Brownie', true)
        .preview-item
          +image('patterns/hexagon-blue-base.svg')
          +image('insta-pics/chocolate-chip-cookies.jpg', 'Chocolate Chip Cookies', true)
        .preview-item
          +image('patterns/hexagon-pink-dark.svg')
          +image('insta-pics/creme-brulee2.jpg', 'Creme Burlee', true)
        .preview-item
          +image('patterns/circle-violet-base.svg')
          +image('insta-pics/cake.jpg', 'Cake', true)
        .preview-item
          +image('patterns/diamond-red-base.svg')
          +image('insta-pics/tart3.jpg', 'Tart', true)
      p ...and yes, we have pie.
      .pie-gallery
        .preview-item
          +image('insta-pics/pie1.jpg', 'Pie')
        .preview-item
          +image('insta-pics/pecan-pie.jpg', 'Pecan Pie')
        .preview-item
          +image('insta-pics/apple-pie.jpg', 'Apple Pie')
