// -----------------------------------------------------------------------------
// This file contains all stand-alone color variables. All other
// colors to be used should be derived from these ones.
// -----------------------------------------------------------------------------

$gray: ('base': hsl(0, 0%, 44%)) !default;

$red: ( 'base': hsl(0, 76%, 49%)) !default;

$pink: (
  'base': hsl(319, 100%, 93%),
  'light': hsl(312, 33%, 97%),
  'dark': hsl(317, 100%, 80%)
) !default;

$purple: ('base': hsl(318, 37%, 30%)) !default;

$orange: (
  'base': hsl(45, 90%, 60%),
  'dark': hsl(46, 99%, 44%)
) !default;

$brown: ('base': hsl(38, 80%, 30%)) !default;

$yellow: (
  'base': hsl(50, 91%, 56%),
  'light': hsl(50, 100%, 85%)
) !default;

$green: (
  'base': hsl(162, 53%, 41%),
  'light': hsl(163, 100%, 94%),
  'lime': hsl(72, 91%, 56%),
  'dark': hsl(163, 100%, 16%)
) !default;

$blue: (
  'base': hsl(198, 78%, 58%),
  'light': hsl(199, 100%, 95%),
  'dark': hsl(197, 64%, 21%)
) !default;

$violet: ('base': hsl(250, 53%, 41%)) !default;

/********** SOCIAL MEDIA COLORS **********/

$yelp: ('base': #d32323) !default;
$instagram: ('base': radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #2859eb 90%)) !default;
$facebook: ('base': #3b5998) !default;
$pinterest: ('base': #e60023) !default;

/********** END MEDIA COLORS **********/

$colors: (
  'gray': $gray,
  'red': $red,
  'pink': $pink,
  'purple': $purple,
  'orange': $orange,
  'brown': $brown,
  'yellow': $yellow,
  'green': $green,
  'blue': $blue,
  'violet': $violet,
  'yelp': $yelp,
  'instagram': $instagram,
  'facebook': $facebook,
  'pinterest': $pinterest
) !default;

/// to avoid to repeating map-get($colors, ...)
/// @param {String} $color - name of base color
/// @param {String} $type [base] - name of color modifier
/// @author: Materialize
@function color($color, $type: 'base') {
  @if map-has-key($colors, $color) {
    $curr-color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  } @else {
    @warn 'Unknown `#{$color}` - `#{$type}` in $colors.';
    @return null;
  }
}
