// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-content {
  @include text-color-bgc(#fff, $text-color);
  padding: 2rem 0;

  .brand-logo {
    display: block;

    img {
      margin: 0 auto;
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: color('gray');
    margin: 1.6rem 0;
  }
}

.company-contact {
  font-style: normal;
  text-align: center;

  .company-name { margin-bottom: 1rem; }

  p { margin-bottom: 0.3rem; }
}

.site-links {
  ul {
    list-style-type: none;
    margin: 1.6rem 0;
  }

  li {
    text-align: center;
    margin-bottom: 0.4rem;

    a { background-color: inherit; }
  }
}

.social-links {
  p {
    font-size: 1.2rem;
    text-align: center;
  }

  .social-media-nav {
    margin: 1.7rem 0;

    li {
      margin: 0 auto;
    }
  }
}

.opening-hours {
  text-align: center;
}

.legal {
  background-color: $primary-color;
  padding: 25px 0;
  
  p { color: #fff; }

  &-links {
    list-style-type: none;
    padding-top: 1rem;
    margin: 0;
  }

  li {
    display: block;
    margin-top: 1rem;
  }
  
  a {
    color: #fff;
    padding: 0.5rem 0;
  }

  @include respond-to('min-medium') {
    .container {
      @include flex-space-between-children;  
    }

    &-links { padding: 0; }

    li {
      display: inline-block;
      margin: 0;
    }

    a { padding: 0 1rem; }
  }
}
