// -----------------------------------------------------------------------------
// This file contains all styles related to the hero layout of the site/application.
// -----------------------------------------------------------------------------

.hero {
  height: 90vh;
  background: linear-gradient(to bottom, rgba($light-gray, 0.8), rgba($light-gray, 0.9)), image('suits.jpg') no-repeat;
  background-size: cover;
  padding: 0;
}

.lg-screen-img { display: none; }

.hero-info-container {
  @include flex-center-children;
  flex-direction: column;
  height: 100%;
  width: 82%;
  margin: 0 auto;
}

.hero-info {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p { margin-bottom: 3rem; }

  a {
    max-width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: breakpoint('large')) {
  .hero {
    display: flex;
    background: #fff;

    > * { flex: 1 1; }

    &-info {
      width: 82%;
      margin: 0 auto;
    }
  }

  .lg-screen-img {
    display: initial;
    background: image('suits.jpg') no-repeat;
    background-size: cover;
  }
}
