// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar.
// -----------------------------------------------------------------------------

// disables all animation on screen resize (particularly navbar collapse animation on resize)
/* stylelint-disable */
// body.stop-transitions * {
//   transition: none !important;
// }
/* stylelint-enable */

$navbar-bgc: #fff;
$nav-link-responsive-bg-color: color('blue', 'light');
$nav-link-hover-bg-color: color('blue', 'light');

.mobile-nav-display {
  @include flex-space-between-children;
}

.navbar-toggle {
  font-size: 1.875rem;
}

.brand-logo img {
  width: 80px;

  @include respond-to('min-medium') {
    width: 120px;
  }
}

.navbar {
  position: relative;
  background-color: $navbar-bgc;
  padding: 1rem;

  &-toggle {
    color: $primary-color;
    cursor: pointer;
    background-color: inherit;
    border: 0;

    @include on-event {
      color: tint($primary-color, 35%);
    }
  }

  &-submenu {
    position: absolute;
    right: 0;
    left: 0;
    transform: translateY(-20px);
    transition: all 0.35s ease-in;
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
    background-color: $navbar-bgc;
    padding: 15px;
  }

  & &-active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  li { text-align: center; }

  li + li { margin-top: 1.3rem; }
}

.nav-link {
  display: block;
  transition: background-color 0.6s, color 0.3s;
  font-size: 1.4rem;
  background-color: $nav-link-responsive-bg-color;
  padding: 10px;
  border-radius: 12px;

  &-active {
    color: color('gray');
    background-color: initial;

    @include on-event {
      color: color('gray');
    }
  }
}

@include respond-to('min-large') {

  .mobile-nav-display { display: initial; }

  .navbar {
    @include flex-space-between-children;
    padding: 1.3rem 6%;
    margin: 0 auto;

    &-toggle { display: none; }

    & &-active,
    &-submenu {
      display: flex;
      position: initial;
      transform: none;
      transition: none;
      visibility: visible;
      opacity: 1;
    }

    & &-active { margin-top: 0; }

    
    li + li,
    li:first-of-type {
      margin: 0 1rem;
    }
  }

  .nav-link {
    background-color: $navbar-bgc;

    @include on-event {
      background-color: $nav-link-hover-bg-color;
    }
  }

  .nav-link-active {
    @include on-event {
      background-color: inherit;
    }
  }
}
