//- -----------------------------------------------------------------------------
//- This file contains all markup related to the navbar.
//- -----------------------------------------------------------------------------

//- Generates navlinks (li + a) excluding the logo's link
//- @param {String} text - text for the link
//- @param {String} url - URL that the link points to
//- @param {String} activeNavbarItem - navbar item that is currently active
mixin navbar-items(text, url, activeNavbarItem)
  li
    if activeNavbarItem && text.toLowerCase() === activeNavbarItem.toLowerCase()
      span.nav-link.nav-link-active= text
    else
      a.nav-link(href=url)= text

//- Generates a generic navbar with hamburger menu and brand logo on mobile
//- @param {Object} navbarItems - links to use for the navbar, excluding the logo
//- @param {String} activeNavbarItem - navbar item that is currently active
mixin navbar(navbarItems, activeNavbarItem)
  nav.navbar
    .mobile-nav-display
      a.brand-logo(href='/')
        +image('logo.png', 'Logo', false, false)
      button.navbar-toggle
        i.fas.fa-bars
    ul.navbar-submenu
      each value, key in navbarItems
        +navbar-items(key, value, activeNavbarItem)
