//- -----------------------------------------------------------------------------
//- This file contains all markup related to the sidebar.
//- -----------------------------------------------------------------------------
