//- -----------------------------------------------------------------------------
//- This file contains all application-wide hard coded data
//- to be used in the pug files. The idea is to extract them
//- all into here to enforce decoupling and make maintainence
//- easier.
//- -----------------------------------------------------------------------------

//- ---------------- Home Page Data ---------------- -//

-
  const previewShapeGallery = [
    {
      shape: {
        url: 'patterns/circle-green-lime.svg',
      },
      image: {
        url: 'insta-pics/cheesecake.jpg',
        alt: 'Cheesecake',
      },
    },
    {
      shape: {
        url: 'patterns/diamond-orange-dark.svg',
      },
      image: {
        url: 'insta-pics/brownie.jpg',
        alt: 'Brownie',
      },
    },
    {
      shape: {
        url: 'patterns/hexagon-blue-base.svg',
      },
      image: {
        url: 'insta-pics/chocolate-chip-cookies.jpg',
        alt: 'Chocolate Chip Cookies',
      },
    },
    {
      shape: {
        url: 'patterns/hexagon-pink-dark.svg',
      },
      image: {
        url: 'insta-pics/creme-brulee2.jpg',
        alt: 'Creme Burlee',
      },
    },
    {
      shape: {
        url: 'patterns/circle-violet-base.svg',
      },
      image: {
        url: 'insta-pics/cake.jpg',
        alt: 'Cake',
      },
    },
    {
      shape: {
        url: 'patterns/diamond-red-base.svg',
      },
      image: {
        url: 'insta-pics/tart3.jpg',
        alt: 'Tart',
      },
    },
    {
      shape: {
        url: 'patterns/diamond-brown-base.svg',
      },
      image: {
        url: 'insta-pics/crepes.jpg',
        alt: 'Crepes',
      },
    },
    {
      shape: {
        url: 'patterns/hexagon-yellow-base.svg',
      },
      image: {
        url: 'insta-pics/cupcakes.jpg',
        alt: 'Cupcakes',
      },
    },
    {
      shape: {
        url: 'patterns/circle-green-base.svg',
      },
      image: {
        url: 'insta-pics/torte.jpg',
        alt: 'Torte',
      },
    },
  ];
-
  const previewPieGallery = [
    {
      image: {
        url: 'insta-pics/pie1.jpg',
        alt: 'Pie',
      },
    },
    {
      image: {
        url: 'insta-pics/pecan-pie.jpg',
        alt: 'Pecan Pie',
      },
    },
    {
      image: {
        url: 'insta-pics/apple-pie.jpg',
        alt: 'Apple Pie',
      },
    },
  ];
-
  const yelpReviewData = [
    {
      name: 'Donna P.',
      date: '10/24/19',
      image: 'people/donna-p.jpg',
      yelpReviewUrl: 'http://yelp.com',
      quote: `Muffin dragée icing tart. Gingerbread macaroon cookie.`,
    },
    {
      name: 'Maddie J.',
      date: '08/12/19',
      image: 'people/maddie-j.jpg',
      yelpReviewUrl: 'http://yelp.com',
      quote: `Lollipop pudding cake danish pastry biscuit donut tootsie roll.`,
    },
    {
      name: 'Matt R.',
      date: '03/09/19',
      image: 'people/matt-r.jpg',
      yelpReviewUrl: 'http://yelp.com',
      quote: `Sugar plum marzipan liquorice sweet roll jelly toffee.
      Lollipop brownie macaroon muffin caramels tart cake. Jelly bear claw ice cream pie. Gingerbread cotton candy danish sweet roll.`,
    },
    {
      name: 'Darrell B.',
      date: '06/19/19',
      image: 'people/darrell-b.jpg',
      yelpReviewUrl: 'http://yelp.com',
      quote: `Cookie marzipan tiramisu cheesecake dragée liquorice.`,
    },
    {
      name: 'Sasha H.',
      date: '09/21/19',
      image: 'people/sasha-h.jpg',
      yelpReviewUrl: 'http://yelp.com',
      quote: `Sweet cake bear claw soufflé. Sugar plum donut carrot cake.`,
    },
    {
      name: 'Jenny K.',
      date: '08/05/19',
      image: 'people/jenny-k.jpg',
      yelpReviewUrl: 'http://yelp.com',
      quote: `Croissant dragée tart caramels chocolate bar pastry. Jelly beans jelly-o jelly-o chupa chups carrot cake brownie.
      Brownie sweet cotton candy danish marzipan powder cake gummi bears chupa chups. Ice cream marzipan jujubes jelly beans.`,
    },
  ];
-
  const featuredTestimonyData = {
    monika: {
      name: 'Monika Bordeaux',
      shortName: 'monika',
      title: 'Food Critic',
      affiliation: 'Gâteau Connoisseur, LLC.',
      imageUrl: 'people/monika-bordeaux.jpg',
      shapeUrl: 'patterns/star-green-slanted.svg',
      shapeAlt: 'Slanted Green Star',
      quote: `Toffee caramels jelly tootsie roll donut tiramisu candy sweet. Pudding brownie jelly croissant chocolate cake jujubes. Tiramisu biscuit cupcake chocolate cake. Jujubes macaroon pastry candy toffee icing halvah wafer. Jelly apple pie cheesecake muffin wafer. Lemon drops jelly beans cake candy canes gummi bears pie. Sweet liquorice liquorice tart chocolate cookie. Cookie pie donut candy canes tiramisu. Sesame snaps gingerbread gingerbread cupcake caramels tart. Bear claw tootsie roll gummies dessert cake.
      Sweet halvah pudding caramels cake topping fruitcake cake. Sweet roll jelly beans lollipop soufflé carrot cake wafer. Chocolate bar soufflé icing sesame snaps. Sugar plum gingerbread halvah cake marshmallow pastry jujubes candy tootsie roll. Chupa chups lollipop marshmallow. Candy brownie macaroon.`,
    },
    jessica: {
      name: 'Jessica Stevens',
      shortName: 'jessica',
      title: 'Town Mayor',
      affiliation: 'Pantown, CA',
      imageUrl: 'people/jessica-stevens.jpg',
      flareUrl: 'patterns/thumbs-up.svg',
      flareAlt: 'Thumbs Up',
      quote: `Wafer marshmallow cotton candy lemon drops gingerbread. Soufflé icing brownie jujubes muffin lollipop. Soufflé cupcake chocolate cake carrot cake bonbon wafer bear claw liquorice sugar plum. Pastry icing powder cupcake donut powder. Sesame snaps jelly beans cheesecake.`,
    },
    lorena: {
      name: 'Lorena Ipsona',
      shortName: 'lorena',
      title: 'TV Personality',
      affiliation: 'Traveling On A Roll, FoodTV',
      imageUrl: 'people/lorena-ipsona.jpg',
      shapeUrl: 'patterns/sun.svg',
      shapeAlt: 'Sun Shape',
      quote: `Gummies pudding cake cotton candy toffee topping sugar plum oat cake. Marzipan chocolate muffin pastry sugar plum pastry. Soufflé jelly-o marzipan chocolate jelly-o biscuit donut carrot cake. Tiramisu biscuit carrot cake cotton candy macaroon icing. Bear claw topping tart jujubes cupcake sesame snaps. Lollipop chocolate ice cream lemon drops icing.
      Oat cake cake cheesecake chupa chups jelly-o cookie bear claw sweet. Jujubes gingerbread chocolate brownie tiramisu jelly beans ice cream cupcake danish. Jelly beans pudding jelly beans.
      Danish chocolate chupa chups dessert gummies. Wafer jelly beans wafer topping. Chocolate lollipop pie.
      Oat cake danish cupcake jelly-o bear claw cupcake danish tiramisu. Gummies sweet tiramisu. Lollipop ice cream caramels liquorice.`,
    },
  };

//- ---------------- Menu Page Data ---------------- -//
-
  const menuGroupData = {
    Cookies: {
      items: [
        {
          itemName: 'Classic',
          price: 3.00,
          description: 'Chocolate, Strawberry, Sugar',
        },
        {
          itemName: 'Chocolate Chip',
          price: 3.25,
        },
        {
          itemName: 'White Chocolate Macadamia',
          price: 4.75,
        },
        {
          itemName: 'Macarons',
          price: 1.00,
          description: 'Chocolate, Vanilla, Strawberry, Sweet Potato, Cherry, Matcha',
        },
        {
          itemName: 'Sea Salt Caramel',
          price: 3.50,
          description: 'a chocolate chunk cookie topped with sea salt and homemade caramel candy',
        },
        {
          itemName: 'Double Chocolate Pecan',
          price: 3.50,
        },
      ],
    },
    Cupcakes: {
      items: [
        {
          itemName: 'Classic',
          price: 4.00,
          description: 'Chocolate, Vanilla, Strawberry, Red Velvet',
        },
        {
          itemName: 'Black & White',
          price: 4.25,
          description: 'chocolate cake with chocolate buttercream and whipped vanilla icing',
        },
        {
          itemName: 'Banana',
          price: 4.50,
          description: 'caramel filling with caramel meringue buttercream - also available with chocolate buttercream (no filling)',
        },
        {
          itemName: 'Caramel',
          price: 4.75,
          description: 'caramel meringue buttercream with a caramel drizzle',
        },
        {
          itemName: 'Carrot',
          price: 4.50,
          description: 'cream cheese icing topped with walnuts',
        },
        {
          itemName: 'German Chocolate',
          price: 4.25,
          description: 'coconut caramel pecan topping',
        },
        {
          itemName: 'Lemon',
          price: 5.00,
          description: 'delicate lemon cake filled with tart lemon cream and topped with lemon meringue buttercream',
        },
        {
          itemName: 'Coconut',
          price: 4.50,
        },
      ],
    },
    Cakes: {
      items: [
        {
          itemName: 'Classic',
          price: 40.00,
          description: 'Chocolate, Vanilla, Strawberry, Red Velvet',
        },
        {
          itemName: 'Black & White',
          price: 45.00,
          description: 'chocolate cake with chocolate buttercream and whipped vanilla icing',
        },
        {
          itemName: 'Banana',
          price: 45.00,
          description: 'caramel filling with caramel meringue buttercream - also available with chocolate buttercream (no filling)',
        },
        {
          itemName: 'Caramel',
          price: 45.00,
          description: 'caramel meringue buttercream with a caramel drizzle',
        },
        {
          itemName: 'Carrot',
          price: 45.00,
          description: 'cream cheese icing topped with walnuts',
        },
        {
          itemName: 'German Chocolate',
          price: 45.00,
          description: 'coconut caramel pecan topping',
        },
        {
          itemName: 'Lemon',
          price: 45.00,
          description: 'delicate lemon cake filled with tart lemon cream and topped with lemon meringue buttercream',
        },
        {
          itemName: 'Coffee',
          price: 40.00,
        },
      ],
    },
    Pies: {
      items: [
        {
          itemName: 'Apple',
          price: 25.00,
        },
        {
          itemName: 'Pecan',
          price: 32.00,
        },
        {
          itemName: 'Pomogranate',
          price: 40.00,
        },
        {
          itemName: 'Blueberry',
          price: 30.00,
        },
        {
          itemName: 'Cherry',
          price: 30.00,
        },
        {
          itemName: 'Lemon',
          price: 28.00,
        },
      ],
    },
    Brownies: {
      extraInfo: '(+$2.00 for Ice Cream scoop)',
      items: [
        {
          itemName: 'Classic',
          price: 3.50,
          description: 'Milk Chocolate flaky exterior with a soft, moist interior',
        },
        {
          itemName: 'Double Fudge',
          price: 4.50,
          description: 'Brownie coated with hot fudge',
        },
        {
          itemName: 'Marble Cream Cheese',
          price: 5.00,
        },
        {
          itemName: 'Chocolate Chuck Toffee',
          price: 5.00,
        },
      ],
    },
    Truffles: {
      items: [
        {
          itemName: 'Chocolate',
          price: 1.25,
        },
        {
          itemName: 'Cherry',
          price: 1.50,
        },
        {
          itemName: 'Matcha',
          price: 1.75,
        },
        {
          itemName: 'German Chocolate',
          price: 1.75,
        },
        {
          itemName: 'Strawberry',
          price: 1.50,
        },
        {
          itemName: 'Almond',
          price: 1.50,
        },
        {
          itemName: 'Lemon',
          price: 1.25,
        },
        {
          itemName: 'Hazelnut',
          price: 1.50,
        },
      ],
    },
    Specialty: {
      items: [
        {
          itemName: 'Crepes',
          price: 9.00,
          description: `Chocolate, Vanilla, Strawberry, Cinnammon
          Amount: 7 Sheets`,
        },
        {
          itemName: 'Tarts',
          price: 8.50,
          description: 'Assorted blueberries, strawberries, oranges, and raspberries on a flaky base',
        },
        {
          itemName: 'Crème Burlee',
          price: 6.00,
          description: 'Baked vanilla custard topped with sugar and fresh fruit.',
        },
        {
          itemName: 'Tortes',
          price: 45.00,
          description: 'Chocolate, Strawberry, Cherry, German Chocolate, Red Velvet',
        },
      ],
    },
  }

//- ---------------- Contact Page Data ---------------- -//
-
  const contactFormData = {
    attributeData: {
      class: ['contact-form'],
    },
    button: {
      text: 'Submit',
      attributeData: {
        class: [
          'btn',
          'btn-secondary-light',
          'btn-text-purple-base',
          'btn-bold',
          'btn-round',
          'btn-large',
          ],
        type: 'submit',
      },
    },
    items: {
      name: {
        labelText: '<i class="fas fa-user"></i>Name',
        tag: 'input',
        attributeData: {
          id: 'contact-name',
          type: 'text',
          name: 'name',
          placeholder: 'Panini Crepes',
          required: true,
        },
      },
      email: {
        labelText: '<i class="fas fa-envelope"></i>Email',
        tag: 'input',
        attributeData: {
          id: 'contact-email',
          type: 'email',
          name: 'email',
          placeholder: 'pcrepes@sweetmail.com',
          required: true,
        },
      },
      message: {
        labelText: '<i class="fas fa-comment-alt"></i>Message',
        tag: 'textarea',
        attributeData: {
          id: 'contact-message',
          name: 'message',
          rows: '7',
          placeholder: 'Your message here...',
          required: true,
        },
      },
    },
  }
