//- -----------------------------------------------------------------------------
//- This file contains all application-wide Pug variables.
//- -----------------------------------------------------------------------------

//- global head configurations
//- @prop {String} keys - meta tag name
//- @prop {Object} values - meta tag content
-
  const globalHeadProps = {
    author: 'Deluxateer',
    setFacebookAndTwitterCards: false,
    faviconPath: './favicon.ico',
    themeColor: '#1DA2DB',
  };

//- base url for assets (in dist)
//- @type String
- const baseURL = './';

//- ***************** INSERT YOUR CUSTOM GLOBAL VARIABLES BELOW *****************

//- navbar items
//- @prop {String} keys - Title for the navbar link
//- @prop {Object} values - URL that the link points to
-
  const navbarItems = {
    'Menu': baseURL + 'menu.html',
    'Catering & Parties': baseURL + 'catering-and-parties.html',
    'About': baseURL + 'about.html',
    'Contact': baseURL + 'contact.html',
  }

//- social media navitems
//- @prop {String} keys - name of social media service
//- @prop {Object} values - icon classes from fontawesome and url that of your social media profile
-
  const socialMediaItems = {
    yelp: {
      icon: 'fab fa-yelp',
      url: 'http://yelp.com',
    },
    instagram: {
      icon: 'fab fa-instagram',
      url: 'http://instagram.com',
    },
    facebook: {
      icon: 'fab fa-facebook',
      url: 'http://facebook.com',
    },
    pinterest: {
      icon: 'fab fa-pinterest',
      url: 'http://pinterest.com',
    },
  }
